#sub_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gmail{
    width: 27rem;
    padding: 1rem;
    color: black;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 0px solid;
    font-family: sans-serif;
    background: linear-gradient(82deg, #fffbfb, #cfd0e3);
    outline: none;
    transition: 1s;
    box-shadow: 0px 0px 5px 0px #000000
}
.gmail:hover{
    box-shadow: 0px 0px 4px 2px #6861e7;
    transition: 1s;
}
h6{
    font-size: 1.2rem;
    position: relative;
    top: 1.2rem;
    font-family: sans-serif;
}
.user_gmail{
    margin-bottom: -2rem;
}
form{
    margin-bottom: 7.4rem;
    position: relative;
    top: 2rem;
}
#submit{
    background: #713e9b;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: 0px solid;
    transition: 1s;
    cursor: pointer;
    outline: none;
    position: relative;
    bottom: -3.5rem;
    margin: auto;
}
#submit:hover{
    scale: 1.1;
    box-shadow: 0px 0px 2px  2px #d79ed5;
}
.contact{
    line-height: 0;
}
#contact_title{
    position: relative;
    top: 3.4rem;
}
input:focus{
    outline: none;
    box-shadow: 0px 0px 2px  2px #d79ed5;
    transition: 1s;
    background: linear-gradient(90deg, #fff5f5, #ffffff);
  
}