
.loader {
  border: 11px solid #f3f3f3;
  border-radius: 50%;
  border-top: 11px solid #8a40ef;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;


}
.main_loader{
  position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
