@media (max-width: 1200px) {
  :root {
    font-size: 90%;
  }
}
@media (max-width: 1150px) {
  :root {
    font-size: 85%;
  }
}
@media (max-width: 1046px) {
  :root {
    font-size: 80%;
  }
}
@media (max-width: 912px) {
  .SubNav {
    gap: 9rem !important;
  }
  .scrollUp {
    gap: 9rem;
  }
  .NavContainer {
    top: 0.4rem;
  }
  .sub-footer {
    gap: 15rem;
  }
}
@media (max-width: 820px) {
  .SubNav {
    gap: 7rem !important;
  }
  .scrollUp {
    gap: 7rem !important;
  }
  .NavContainer {
    top: 0.4rem;
  }
  .sub-footer {
    gap: 15rem;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 75%;
  }
  .SubNav {
    gap: 7rem !important;
  }
  .scrollUp {
    gap: 7rem !important;
  }
  .NavContainer {
    top: 0.4rem;
  }
  .sub-footer {
    gap: 15rem;
  }
  .NavLink {
    gap: 4.1rem;
  }
  #desc {
    margin-left: 2.5rem;
  }
  .hamburger {
    display: block;
  }
  #handleHide {
    display: none;
  }
  #handleShow {
    display: block;
  }
}

@media (max-width: 540px) {
  :root {
    font-size: 75%;
  }
  .NavContainer {
    position: absolute !important;
    width: 100% !important;
    z-index: 1000;
    top: 0 !important;
  }
  .SubNav {
    gap: 7rem !important;
    background: linear-gradient(3deg, black, #282631c2);
    flex-direction: column;
    align-items: normal !important;
    padding: 1rem;
  }
  .NavContainer {
    top: 0.4rem;
  }
  .sub-footer {
    gap: 15rem;
  }
  .NavLink {
    gap: 4.1rem;
  }
  #desc {
    margin-left: 2.5rem;
  }
  .hamburger {
    display: block !important;
    position: absolute;
    right: 17px;
    top: 16px;
  }
  #handleHide {
    display: none;
  }
  #handleShow {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  #burger {
    font-size: 3rem !important;
  }
  .link {
    font-size: 1.8rem;
  }
  svg {
    font-size: 2.1rem !important;
  }
  .logoName {
    margin-left: 0rem !important;
  }
  .my-self {
    margin-left: auto !important;
  }
  #introduceMySelf {
    flex-direction: column;
  }
  .homeContainer {
    margin-top: 8rem !important;
  }
  #me {
    height: 19rem !important;
  }
  .sub-footer {
    gap: 3rem !important;
  }
  #foot-icon {
    font-size: 1.4rem !important;
  }
  #desc {
    margin-left: 0rem !important;
  }
  .my-pic {
    text-align: center;
    margin-right: 0rem !important;
  }
  .scrollUp {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: normal !important;
    margin-bottom: 4rem;
    gap: 7rem !important;
    padding: 1rem;
    height: max-content !important;
  }
}

@media (max-width: 412px) {
  :root {
    font-size: 75%;
  }
  .homeContainer {
    flex-direction: column;
    align-items: normal !important;
  }
  #person {
    margin-top: 5rem !important;
  }
  .my-pic {
    margin-bottom: 4rem !important;
  }
  .sub-footer {
    text-align: center !important;
  }
}
@media (max-width: 360px) {
  .my-self {
    font-size: 1.8rem !important;
  }
  .personImage {
    margin-left: -9rem;
  }
}
@media (max-width: 280px) {
  .personImage {
    margin-left: 0rem !important;
  }
  .homeContainer {
    margin-left: 0rem !important;
  }
  .homeContent {
    margin: auto;
    text-align: center;
  }
  .typewrite {
    left: 0rem !important;
  }
  .my-self {
    font-size: 1.7rem !important;
  }
  .sub_intro {
    text-align: center !important;
  }
  .my-self::before {
    content: "" !important;
    border-right: 0.4rem solid #c770f000 !important;
  }
  .footer_icon {
    display: none;
  }
  .sub-footer {
    font-size: 1.2rem !important;
  }
}

